HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Upload Directories
uploads/
voucher-images/
!uploads/
uploads/*
!uploads/nike-air-max-270-black.jpg
!uploads/adidas-ultraboost-22-white.jpg
!uploads/vans-old-skool-black-white.jpg
!uploads/converse-chuck-taylor-red.jpg
!uploads/puma-suede-classic-blue.jpg
!uploads/new-balance-574-gray.jpg
!uploads/jordan-1-high-red-black.jpg
!uploads/under-armour-hovr-white.jpg

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
